

.button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	}
.boton{
	//font-family: 'Open Sans Light', sans-serif;;
	width: 90px;
    height: 35px;
	font-size: 18px;
	border: none;
	font-weight: 10px;
	font-size: 17px;
	  }