
.user-info {
display: flex;
align-items: center;

}

.user-info__summary {
	padding-left: 0.8em;

	h2 {
		margin: 0;
		font-size: $medium;
	}

	p {
		margin: 0;
		font-size: $x-small;
		color: $gray;
 }
}



